#header {
  background-color: rgba($dark-green, 0.1);
  width: 100%;

  @media (min-width: 1024px) {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    min-height: 50vh;
  }

  .content {
    box-sizing: border-box;
    padding: 40px 20px;
    width: 100%;

    @media (min-width: 1024px) {
      align-items: center;
      display: flex;
      display: flex;
      justify-content: space-between;
      margin-bottom: 68px;
      max-width: 860px;
      min-height: 100%;
      padding: 0;
    }

    &:before {
      background-color: $green;
      content: '';
      height: 6px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      @media (min-width: 1024px) {
        left: 50%;
        transform: translate(-50%, 0);
        width: 860px;
      }
    }

    .logo {
      display: flex;
      justify-content: center;
      width: 100%;

      @media (min-width: 1024px) {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 420px;
      }

      img {
        display: block;
        margin-bottom: 20px;

        @media (min-width: 1024px) {
          margin-bottom: 0;
        }
      }
    }

    .description {
      border-top: 1px solid rgba($dark-green, 0.3);
      padding-top: 18px;
      width: 100%;

      @media (min-width: 1024px) {
        width: 420px;
      }

      .text {
        color: $green;
        font-size: 16px;
        margin-bottom: 18px;
        width: 100%;
      }

      .facebook {
        display: flex;
        justify-content: center;

        .small {
          display: block;

          @media (min-width: 1024px) {
            display: none;
          }
        }

        .big {
          display: none;

          @media (min-width: 1024px) {
            display: block;
          }
        }
      }
    }
  }
}
