#team {
  box-sizing: border-box;
  padding: 40px 20px 20px;
  width: 100%;

  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    padding: 0;
  }

  .content {
    width: 100%;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      margin-top: 68px;
      width: 860px;
    }

    .row {
      width: 100%;

      @media (min-width: 1024px) {
        max-width: 420px;
      }

      &:first-child {
        margin-bottom: 40px;
      }

      .name {
        border-top: 1px solid rgba($dark-green, 0.3);
        color: $green;
        font-size: 20px;
        padding-top: 12px;
        position: relative;

        &:before {
          background-color: $green;
          content: '';
          display: block;
          height: 6px;
          left: 0;
          position: absolute;
          top: -1px;
          width: 142px;
        }
      }

      .category,
      .job-role {
        font-size: 14px;
      }

      .job-role {
        margin-bottom: 20px;

        @media (min-width: 1024px) {
          margin-bottom: 40px;
        }
      }

      .contact {
        font-size: 12px;

        @media (min-width: 1024px) {
          border-top: 1px solid rgba($dark-green, 0.3);
          font-size: 14px;
          padding-top: 12px;
        }

        .phone,
        .email {
          .icon {
            color: $green;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;

            &:before {
              background-position: center center;
              background-repeat: no-repeat;
              background-size: 100% 100%;
              content: '';
              display: inline-block;
              height: 14px;
              margin-bottom: -1px;
              margin-right: 7px;
              width: 14px;
            }
          }
        }

        .phone {
          .icon {
            margin-right: 22px;

            &:before {
              background-image: url($path-img + 'icon-phone.png');
            }
          }
        }

        .phone {
          .icon {
            margin-right: 22px;

            &:before {
              background-image: url($path-img + 'icon-phone.png');
            }
          }
        }

        .email {
          .icon {
            margin-right: 6px;

            &:before {
              background-image: url($path-img + 'icon-email.png');
            }
          }

          a {
            &:hover {
              color: $green;
            }
          }
        }
      }
    }
  }
}
